@media screen and (min-width: 800px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 899px) {
    .login {
        display: none;
    }
}


@media screen and (max-width:900px) {
    .search {
        display: none;
    }
    
}

@media screen and (max-width:900px) {
    .linkcss {
        display: none;
    }
}
    
@media screen and (max-width: 1200px) {
    .imgcentro {
        display: none;
    }
}

@media screen and (min-width:1199px) {
    .img{
        display: none;
    }
}

@media screen and (min-width:899px) {
    .lente {
        display: none;
    }
}